.App {
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;
    background: linear-gradient(153deg, #5c114c, #a31e30, #ba2121, #da5b12);
    background-size: cover;
    background-repeat: no-repeat;
}

.btnSocket {
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #ba2121;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    font-size: 20px;
}

.btnSocket > span {
    position: relative;
    z-index: 1;
}

.btnSocket::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #5c114c;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}

.btnSocket:hover::after {
    opacity: 1;
}

.result-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 8%;
    z-index: 5;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 7%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: auto;
    height: 92%;
    width: 90%;
}

.block-result-image {
    display:block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 8%;
    height: 70%;
}

.result-image {
    position: absolute;
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.block-loading {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 79%;
    height: 5%;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top:0;
    background: rgba(167, 167, 167, 0.485);
    height: 10%;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

.proggres-bar_line {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top:0;
    background: linear-gradient(90deg, #9b0b0b, #bd5e1f, #b6c517, #2fff00);
    transition: 0.5s ease;
}

/* .proggres-bar_line:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load 5s infinite;
  }
   */


.footer {
    position: fixed;
    left: 0;
    bottom: 2%;
    right: 0;
}

header {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    height: 55px;
    z-index: 20;
    background: linear-gradient(90deg, #5c114cb6, rgba(171, 43, 17, 0.668));
}

.nav {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
}

.nav-item1,
.nav-item2 {
    /* position:relative; */
    display: inline-block;
    /* list-style-type: none; */
    /* padding:0 4.5rem; */
    height: 100%;
    cursor: pointer;
    position: relative;
}

.nav-item1 {
    border-bottom: 4px solid #730f5d;
}

.nav-item1:hover {
    background-color: #730f5d;
}

.nav-item2 {
    border-bottom: 4px solid #ae2d1c;
}

.nav-item2:hover {
    background-color: #ae2d1c;
}

.nav-buttons {
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    display: flex;
    height: 100%;
    width: 150px;
    font-size: 20px;
}

.nav-item1_upload-style {
    text-align: center;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    position: absolute;
    display: block;
}
